<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Service Provider</title>
</head>
<body>
    <div>
        <p>NameID</p>
        <ul>
            <li th:text="${user.username}"></li>
        </ul>
        <p>IdP로 부터 받은 Attributes</p>
        <ul>
            <li><span>email : </span><span th:text="${user.email}"></span></li>
            <li><span>federationIdentifier : </span><span th:text="${user.federationIdentifier}"></span></li>
            <li><span>department : </span><span th:text="${user.department}"></span></li>
            <li><span>displayName : </span><span th:text="${user.displayName}"></span></li>
        </ul>
    </div>
</body>
</html>
