<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Service Provider</title>
</head>
<body>
    <div>
        <a class="button" th:href="@{/logout}">로그아웃</a>
        <p>NameID</p>
        <ul>
            <li th:text="${user.nameIDType} + ' : ' + ${user.nameID}"></li>
        </ul>
        <p>IdP로 부터 받은 Attributes</p>
        <ul th:each="attr : ${user.attributes}">
            <li th:text="${attr.name} + ' : ' + ${attr.value}"></li>            
        </ul>
    </div>
</body>
</html>
