<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Identity Provider</title>
    <script th:src="@{/login.js}"></script>
</head>
<body>
	<h1>IdP 로그인</h1>
	<p th:if="${param.error}">아이디 또는 패스워드를 확인하세요.</p>
	<form class="login-form" th:action="@{/login}" method="post">
		<input type="text" id="username" name="username" autofocus="autofocus" placeholder="Username" value=""/>
		<input type="password" id="password" name="password" placeholder="Password" value=""/>
		<input class="button" id="login" type="submit" value="Login"/>
	</form>
</body>
</html>
